body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #1711d1;
}

.container2 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin: 0 5px;
    width: 200px;
    border: 1px solid #856bf9;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #053b75c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

  